.wrapper {
  margin: 3rem;
}
.gradetable,
#header {
  width: 1000px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}
#header {
  padding: 0 1rem;
  text-align: center;
  color: hsl(240, 40%, 48%);
}
.heading {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.averageGrade {
  display: flex;
  align-items: center;
}
.averageGradeBox {
  padding-left: 0.5rem;
}
table {
  width: 100%;
  border-collapse: separate;
}
thead tr,
tr:nth-child(even) {
  background-color: hsla(240, 18.4%, 48%, 0.2);
}
th,
td {
  border: 1px solid hsl(240, 18.4%, 48%);
  border-radius: 0.5rem;
  margin: 2px;
  text-align: left;
}
th {
  padding: 0.5em;
  font-size: 1.5em;
}
td {
  padding: 1em;
}
